
@{
    ViewBag.Title = "KategoriEkle";
}

<form action="/Kategori/KategoriEkle" method="post">
    <div>
        <label>Kategori Ad</label>
        <input type="text" name="KategoriAd"/>
        <button type="submit">Ekle</button>
    </div>
</form>